<div class="container">
  <div class="row my-5">
    <form #form="ngForm" (ngSubmit)="addTodo(); clearInput();">
      <h1>Add Todo</h1>
      <div class="form-group">
        <label for="todoDescription">Todo Description</label>
        <input
          type="text"
          class="form-control"
          id="todoDescription"
          aria-describedby="descHelp"
          placeholder="Enter Todo Description"
          [(ngModel)]="newTodo.description"
          [ngModelOptions]="{standalone: true}"
        />
        <small id="descHelp" class="form-text text-muted"
          >Please describe your To Do.</small
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="row">
    <h1>My Todos</h1>
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col">Date Created</th>
          <th scope="col">Completed?</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td [class.strike]="todo.isCompleted">{{todo.description}}</td>
          <td>{{todo.dateCreated | date:'MMMM d, y, h:mm a'}}</td>
          <td><input type="checkbox" name="isComplete" id="isComplete" [checked]="todo.isCompleted" (change)="onCompletedChange(todo.id, todo)"></td>
          <td><a routerLink="[]" (click)="deleteTodo(todo.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
